In [ ]:
Impute missing values using Scikit-learn

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('FlavorSense.csv')
dataset.head(10)

,age,sleep_cycle,exercise_habits,climate_zone,historical_cuisine_exposure,preferred_taste
0,56.0,Irregular,Heavy,Temperate,NaN,Salty
1,NaN,Night Owl,Heavy,Temperate,Asian,Sweet
2,46.0,Night Owl,Heavy,Cold,Mixed,Sour
3,32.0,Early Bird,Heavy,Cold,Mediterranean,Salty
4,60.0,Night Owl,Moderate,Dry,Mediterranean,Sour
5,25.0,Early Bird,Heavy,Cold,Mediterranean,Sour
6,38.0,Irregular,Light,Temperate,Mixed,Sour
7,56.0,NaN,Light,Cold,Mixed,Sour
8,36.0,Irregular,Light,Tropical,Mediterranean,Sweet
9,40.0,Early Bird,Light,Temperate,Asian,Sweet

In [3]:
dataset.isnull().sum()

age                            968
sleep_cycle                    684
exercise_habits                804
climate_zone                   533
historical_cuisine_exposure    654
preferred_taste                  0
dtype: int64

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   age                          9032 non-null   float64
 1   sleep_cycle                  9316 non-null   object
 2   exercise_habits              9196 non-null   object
 3   climate_zone                 9467 non-null   object
 4   historical_cuisine_exposure  9346 non-null   object
 5   preferred_taste              10000 non-null  object
dtypes: float64(1), object(5)
memory usage: 468.9+ KB

In [5]:
dataset.select_dtypes(include="float64").columns

Index(['age'], dtype='object')

In [7]:
from sklearn.impute import SimpleImputer

In [20]:
si = SimpleImputer(strategy="mean")
si.fit_transform(dataset[['age']])

array([[56.        ],
       [43.55270151],
       [46.        ],
       ...,
       [57.        ],
       [64.        ],
       [32.        ]])

In [11]:
si = SimpleImputer(strategy="mean")
ar = si.fit_transform(dataset[['age']])

In [12]:
pd.DataFrame(ar,columns=dataset.select_dtypes(include="float64").columns)

            age
0     56.000000
1     43.552702
2     46.000000
3     32.000000
4     60.000000
...         ...
9995  55.000000
9996  51.000000
9997  57.000000
9998  64.000000
9999  32.000000

[10000 rows x 1 columns]

In [13]:
new_dataset = pd.DataFrame(ar,columns=dataset.select_dtypes(include="float64").columns)

In [14]:
new_dataset.isnull().sum()

age    0
dtype: int64

In [15]:
dataset["age"].mean()

np.float64(43.552701505757305)

This technique used in column transformation and ML pipelining (project end mode)

In [21]:
si1 = SimpleImputer(strategy="median")
si1.fit_transform(dataset[['age']])

array([[56.],
       [43.],
       [46.],
       ...,
       [57.],
       [64.],
       [32.]])

In [17]:
si1 = SimpleImputer(strategy="median")
arr = si1.fit_transform(dataset[['age']])

In [18]:
pd.DataFrame(arr,columns=dataset.select_dtypes(include="float64").columns)

       age
0     56.0
1     43.0
2     46.0
3     32.0
4     60.0
...    ...
9995  55.0
9996  51.0
9997  57.0
9998  64.0
9999  32.0

[10000 rows x 1 columns]

In [19]:
dataset["age"].median()

43.0

here, Median will be best to fill the missing values.