In [1]:
import pandas as pd

In [5]:
df =	pd.DataFrame({"name": ["Alice", "Bob", "Charlie", "David", "Cat", "Dog"],})
df

      name
0    Alice
1      Bob
2  Charlie
3    David
4      Cat
5      Dog

In [ ]:
from	sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()
df['name_encoded'] = le.fit_transform(df['name'])
df

      name  name_encoded
0    Alice             0
1      Bob             1
2  Charlie             3
3    David             4
4      Cat             2
5      Dog             5

In [16]:
import os

file_path = "../datasets/social_media_engagement1.csv"
if os.path.exists(file_path):
	dataset = pd.read_csv(file_path)
else:
	# Fallback to a small sample dataset so the notebook runs without the file
	dataset = pd.DataFrame({
		"post_id": [1, 2, 3, 4, 5],
		"likes": [10, 20, 5, 0, 100],
		"comments": [1, 3, 0, 0, 8],
		"shares": [0, 2, 0, 0, 5],
		"engagement": [11, 25, 5, 0, 113]
	})
print(f"Using file: {file_path}" if os.path.exists(file_path) else "Using fallback sample dataset")
dataset.head(5)

Using file: ../datasets/social_media_engagement1.csv

,post_id,platform,post_type,post_time,likes,comments,shares,post_day,sentiment_score
0,1,Facebook,image,8/17/2023 14:45,2121,474,628,Thursday,positive
1,2,Facebook,carousel,5/14/2023 0:45,3660,432,694,Sunday,neutral
2,3,Instagram,poll,2/21/2023 16:15,4955,408,688,Tuesday,negative
3,4,Twitter,image,11/16/2023 0:45,1183,90,187,Thursday,negative
4,5,Twitter,video,5/23/2023 0:30,3499,247,286,Tuesday,positive

In [17]:
la = LabelEncoder()
dataset['platform_encoded'] = la.fit_transform(dataset['platform'])
dataset[['platform', 'platform_encoded']].drop_duplicates()

    platform  platform_encoded
0   Facebook                 0
2  Instagram                 1
3    Twitter                 2